{{> mainmenu _id="home" }}

<div class="ui container">
  <section class="ui raised segment">
    <div class="ui grid">
      <div class="ui ten wide column">
        <div class="ui stacked fluid form segment">
          <form action="/poi/updatepoi/{{point.id}}" method="POST">
            <div class="field">
              <label>Category</label>
              <div class="ui selection dropdown">
                <input type="hidden" name="category">
                <i class="ui dropdown icon"></i>
                <div class="text">
                  {{point.category.name}}
                </div>
                <div class="menu">
                  {{#each categories}}
                    <div class="item" data-value="{{name}}">{{name}}</div>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="field">
              <label>Name</label>
              <input value="{{point.name}}" type="text" name="name">
            </div>
            <div class="field">
              <label>Description</label>
              <textarea type="text" name="description">{{point.description}}</textarea>
            </div>
            <button class="ui blue submit button">Update</button>
          </form>
          {{> error}}
        </div>
      </div>
      <aside class="ui five wide column">
        <img src="/images/poi.jpg" class="ui medium image">
      </aside>
    </div>
  </section>
</div>
